/* About page */
*{
    box-sizing: border-box;
}

.center{
    text-align: center;
}

.blink{
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.img{
    margin-top: 5%;
    margin-bottom: 0%;
    max-height: 300px;
    max-width: 300px;
}

.aboutSection{
    background-color: #212529;
}

h3{
    color: white;
}

.objectDiv{
    color: white;
    padding: 10px;
    border: 3px solid black;
    border-radius: 7px;
}

.tab{
    margin-left: 40px;
}

.objKey{
    color: #EF4444;
}

.objString{
    color: #FF851B;
}

.objInt{
    color: #7FDBFF;
}

.objLink{
    text-decoration: none;
    color: #AAAAAA;
}
