/* About page */
.center{
    text-align: center;
}

.blink{
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.img{
    margin-top: 10%;
    margin-bottom: 10%;
    max-height: 300px;
    max-width: 300px;
}

.aboutSection{
    background-color: #212529;
}

h3{
    color: white;
}

.objectDiv{
    color: white;
    padding: 3%;
    border: 3px solid black;
    border-radius: 7px;
    margin: 0 5% 0 5%;
}

.tab{
    margin-left: 40px;
}

.objKey{
    color: #EF4444;
}

.objString{
    color: #FF851B;
}

.objInt{
    color: #7FDBFF;
}

.statementDiv{
    color: white;
    padding: 3%;
    border: 3px solid black;
    border-radius: 7px;
    margin: 0 5% 0 5%;
}
